<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
             <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
             <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item" *ngIf="(this.accService.user$ | async) as user">
                        <a class="nav-link" routerLink="/play">Play</a>
                    </li>
                </ul>

                <ul class="navbar-nav" *ngIf="(this.accService.user$ | async) === null">
                    <li class="nav-item">
                        <a class="btn btn-secondary mx-2" routerLink="/account/register">
                            Create account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary" routerLink="/account/login">
                            Login
                        </a>
                    </li>
                </ul>
                <div class="d-flex allign-item-center" *ngIf="(this.accService.user$ | async) as user">
                    <a class="text-white" style="text-decoration: none;">
                        Hi, <span class="h3 text-white">{{user.firstName | titlecase}}</span>
                    </a>
                    <a class="btn btn-secondary ms-2" (click)="logout()">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>